body{
    background-color: #A0DBF2;
    font-family: 'Courier New', Courier, monospace;
}
.titleWordle{
    font-size: 5em;
    text-align: center;
}
table{
    border-spacing: 10px;
}
td{ 
    padding: 20px;
    border-style: solid;
    border-radius: 5px;
    background-color: white;

}
.instructions{
    font-size: 25px;
}
.containerMainContent{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.formName{
    display: flex;
    flex-direction: column;
}
.inputName{
    margin: auto;
    width: 20%;
    border-radius: 5px;
    height: 30px;
    text-align: center;
}
.btnSubmit{
    height: 40px;
    margin: auto;
    width: 15%;
    border-radius: 5px;
    cursor: pointer;
    background-color: #04D939;
    transition: all .2s ease-in-out;
}

#btnSubmit:hover{
    background-color: #027333;
    transform: scale(1.20);
}

.alert {
    margin: auto;
    width: 30%;
    visibility: hidden;
    padding: 20px;
    background-color: #3F8EBF;
    color: white;
  }
  
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
.closebtn:hover {
    color: black;
  }

#row11{
    background-color: #8C661F;
}
#row12{
    background-color: #8C661F;
}
#row13{
    background-color: #8C661F;
}
#row14{
    background-color:  #F2E205;
} 
#row15{
    background-color:  #F2E205;
}
/*Fila 2*/
#row21{
    background-color:  #98ff96;
}
#row22{
    background-color: #8C661F;
}
#row23{
    background-color: #8C661F;
}
#row24{
    background-color: #8C661F;
}
#row25{
    background-color: #8C661F;
}
/*Fila 3*/
#row31{
    background-color:  #98ff96;
}
#row32{
    background-color: #8C661F;
}
#row33{
    background-color: #8C661F;
}
#row34{
    background-color: #8C661F;
}
#row35{
    background-color: #8C661F;
}
/*Fila 4*/
#row41{
    background-color:  #98ff96;
}
#row42{
    background-color: #98ff96;
}
#row43{
    background-color: #8C661F;
}
#row44{
    background-color: #8C661F;
}
#row45{
    background-color: #8C661F;
}
/*Fila 5*/
#row51{
    background-color:   #98ff96;
}
#row52{
    background-color:  #F2E205;
}
#row53{
    background-color: #8C661F;
}
#row54{
    background-color: #8C661F;
}
#row55{
    background-color: #8C661F;
}
/*Fila 6*/
[id^="row6"]{
    background-color: #98ff96;
}
