body{
    background-color: #A0DBF2;
    font-family: 'Courier New', Courier, monospace;
}

table{
    margin-top: 30px;
    border-spacing: 10px;
}

td{ 
    height: 40px;
    width: 40px;
    border-style: solid;
    border-radius: 5px;
    background-color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.containerMainContent{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.class-header{
    text-align: center;
}

#divKeyboard{
    margin: auto;
    width: 550px;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.class-keyboard{
    width: auto;
    background-color: #D9B504;
    font-weight: bold;
    height: 58px;
    border-radius: 4px;
    cursor: pointer;
    display: inline;
    border: 0px;
    margin-right: 4px;
    margin-top: 4px;
    flex-grow: 1;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

.rowKeyboard{
    width: auto;
    display: flex;
}

