#divKeyboard{
    margin: auto;
    width: 700px;
    display: block;
}

.class-keyboard{
    width: 43px;
    background-color: #D9B504;
    font-weight: bold;
    height: 58px;
    border-radius: 4px;
    cursor: pointer;
    display: inline;
    border: 0px;
    padding: 0px;
    margin-right: 2px;
    margin-top: 2px;
}

.rowKeyboard{
    width: 700px;
    display: block;
}

.class-specialKeyboard{
    width: 90px;
    background-color: #D9B504;
    font-weight: bold;
    height: 58px;
    border-radius: 4px;
    cursor: pointer;
    display: inline;
}