body{
    background-color: #A0DBF2;
    font-family: 'Courier New', Courier, monospace;
}

.titleWordle{
    font-size: 5em;
    text-align: center;
}

table{
    border-spacing: 10px;
}

td{ 
    padding: 20px;
    border-style: solid;
    border-radius: 5px;
    background-color: white;

}

.instructions{
    font-size: 25px;
}

.containerMainContent{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.formName{
    display: flex;
    flex-direction: column;
}

.inputName{
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
    width: 20%;
    border-radius: 5px;
    height: 30px;
    text-align: center;
}

img{
    width: 350px;
    height: auto;
}

.btnSubmit{
    font-family: 'Courier New', Courier, monospace;
    height: 40px;
    margin: auto;
    width: 15%;
    border-radius: 5px;
    cursor: pointer;
    background-color: #04D939;
    transition: all .2s ease-in-out;
    font-weight: bold;
    font-size: 16px;
}

#btnSubmit:hover{
    background-color: #027333;
    transform: scale(1.20);
}

.alert {
    margin: auto;
    width: 30%;
    visibility: hidden;
    padding: 20px;
    background-color: #3F8EBF;
    color: white;
  }
  
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
.closebtn:hover {
    color: black;
  }
